<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="title">About Career Center</span>
                        <h2>Career Center to search for job opportunities and provide services</h2>
                    </div>
                    <div class="text">The project is based on the creation of an online platform that enables individuals and companies to search for job opportunities and provide services easily and efficiently. The platform allows users to find freelance professionals in various fields, whether the services are provided physically or remotely. The project is a response to major shifts in work styles, with increasing demand for freelancing and digital communication.</div>
                  <div class="text">
                    Through the platform, users can search for available jobs, post jobs and job advertisements, the platform seeks to provide a flexible and sophisticated environment that facilitates the process of searching for job opportunities and providing services seamlessly.
                  </div>
                    <div class="btn-box">
                        <a href="/contact-us" class="theme-btn btn-style-one">Contact Us</a>
                    </div>
                </div>
            </div>

            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column wow fadeInLeft">
                  <div class="author-desc">
                    <h2>Career Center</h2>
                    <span>Jobs chances</span>
                  </div>
                    <figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images"><img title="Rahul Kumar Yadav" src="https://i.ibb.co/QP6Nmpf/image-1-about.jpg" alt=""></a></figure>

                </div>
            </div>

        </div>
       <div class="sec-title">
                        <span class="title">Other features</span>
                        <h2>We want to lead in innovation & Technology</h2>
                    </div>
      <div class="text">
        Among the project's features is the ability to create a comprehensive personal profile that reflects the work history and previous experiences of each user, which facilitates the process of providing services and interacting with others on the platform. In addition, the project allows the platform to be developed and updated to add new features such as customer analytics and online payment options, to improve the user experience and facilitate business operations. </div>
           <div class="text">
            The project can be developed to achieve other benefits and add new features, such as improving the user interface and adding other social features to enhance user interaction and improve user experience. Analytical features can be added to provide customer analytics and trends, and facilitate business processes through online payment options.

          </div>
    </div>
</section>