<form [formGroup]="projectForm" (ngSubmit)="submitProject()" class="needs-validation">


    <div class="row g-3">
  
      <!-- Title -->
      <div class="col-sm-8">
        <label class="form-label">{{'Project Title' | translate}}</label>
        <input formControlName="title" type="text" class="form-control" placeholder="e.g., Senior Developer">
        <div *ngIf="projectForm.get('title')?.invalid && (projectForm.get('title')?.dirty || projectForm.get('title')?.touched)">
          {{'A valid title is required' | translate}}.
        </div>
      </div>
  
      <!-- Description -->
      <div class="col-12">
        <label class="form-label">Description</label>
        <textarea formControlName="description" class="form-control" rows="3" placeholder="Describe the project responsibilities"></textarea>
        <div *ngIf="projectForm.get('description')?.invalid && (projectForm.get('description')?.dirty || projectForm.get('description')?.touched)">
          {{'Please enter a description' | translate}}.
        </div>
      </div>
  
    </div>
  
    <hr class="my-4">
  
    <button class="w-100 btn btn-primary btn-lg" type="submit" [disabled]="projectForm.invalid">{{'Submit' | translate}}</button>
  </form>