
<form *ngIf="data.type == 'edit'"  class="needs-validation">
  <div class="row g-3">

    <!-- Title -->
    <div class="between">
      <h4>{{data.type}}</h4>
      <button
          type="button"
          class="btn-close close pull-right"
          aria-label="Close"
          (click)="onNoClick()"
        >
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div> 
    <hr>
    <div class="col-sm-8">
      <label class="form-label">{{'Project Title' | translate}}</label>
      <input [(ngModel)]="project.title" name="projectTitle" type="text" class="form-control" placeholder="e.g., Senior Developer">
    </div>

    <!-- Description -->
    <div class="col-12">
      <label class="form-label">Description</label>
      <textarea [(ngModel)]="project.description" name="projectDescription" class="form-control" rows="3" placeholder="Describe the project responsibilities"></textarea>
    </div>

  </div>

  <hr class="my-4">

  <button class="w-100 btn btn-primary btn-lg" (click)="editProject()">{{'update' | translate}}</button>
</form>





<div class="delete" *ngIf="data.type == 'delete'">
  
  <div class="between">
    <h4>{{data.type}}</h4>
    <button
        type="button"
        class="btn-close close pull-right"
        aria-label="Close"
        (click)="onNoClick()"
      >
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
  </div>
  <hr>
  <div >
    <span class="pe-2">{{'Are you sure you want to delete this project?'|translate}}</span>
    <button (click)="deleteProject()" type="button" class="btn btn-danger">{{'Remove Project'|translate}}</button>

  </div>
</div>